.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.loading-spinner {
  height: 50px;
  width: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #383636;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
